a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 90%;

    padding: 32px;
    margin: 0 auto;
    box-sizing: border-box;

    max-width: 1400px;
}

.container .logo {
    color: #6C63FF;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

.container nav {
    display: flex;
    align-items: center;
}

.container nav a {
    font-size: 20px;
    color: #4F4F4F;
    font-weight: normal;
    margin-right: 16px;
}

.container nav button {
    margin-left: 16px;
    background-color: #6C63FF;
    padding: 12px 24px;
    border-radius: 8px;
    color: #FFF;

    font-size: 18px;
}